<h1>New School Class Form:</h1>
  <%= form_for(@school_class) do |f| %>
    <h2><label>Class Title:</label></h2> <br>
    <%= f.text_field :title %> </br>

      <h2><label>Room Number:</label></h2>
    <%= f.number_field :room_number %> <br>

    <%= f.submit %>
  <% end %>
